<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996372751425-ukpdfpm88i59u7qavkf1r6ms3fm4k4uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996372751425-ukpdfpm88i59u7qavkf1r6ms3fm4k4uq</string>
	<key>API_KEY</key>
	<string>AIzaSyBdQ6xZBxK7HoOg5IY9wPBMwNL8JTWZabk</string>
	<key>GCM_SENDER_ID</key>
	<string>996372751425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.cornerstone</string>
	<key>PROJECT_ID</key>
	<string>cornerstonechurch-f3972</string>
	<key>STORAGE_BUCKET</key>
	<string>cornerstonechurch-f3972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996372751425:ios:b7025e49b09466e12212c0</string>
</dict>
</plist>